.about-container,
.about-container-reverse {
  width: 100%;
  background-color: #1c1c1cea;
  display: block;
}
.about-container {
  height: 68rem;
}
.about-container-reverse {
  height: 82rem;
}
.about-us-title {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #656565;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.about-image {
  background: url("../../media/building-in-color.png") no-repeat;
}
.about-image-2 {
  background: url("../../media/house.png") no-repeat;
}
.about-image-3 {
  background: url("../../media/scaffolding.JPG") no-repeat;
}
.about-image,
.about-image-2,
.about-image-3 {
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Don't repeat the image */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  text-align: center;
  color: #ffffff; /* Ensure text is readable on the background */
  text-shadow: 1px 1px 2px rgb(70, 70, 70);
}
.about-content h3, .about-content p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.about-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 0rem !important;
}
.about-content p {
  line-height: 1.6em;
  font-size: 0.9em;
  text-align: left;
}
.about-content p,
.about-content h3 {
  padding: 1rem 0.5rem;
  color: #ffffff;
  margin: 0;
}

.about-content p {
  color: rgb(204, 204, 204);
}
@media (min-width: 1024px) {
  .about-container,
  .about-container-reverse {
    display: flex;
    height: 32rem;
  }
  .about-container-reverse {
    flex-direction: row-reverse;
  }
  .about-image-container,
  .about-content {
    border: 2px solid #ffffff;
    width: 50%;
    height: 100%;
  }
}
