/* Contact Form Styles */
.contact-form {
  background-color: #2c2c2c;
  padding: 15px;
  border-radius: 8px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 10px;
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  border-radius: 4px;
}

.contact-container h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: #656565;
}
/* Media Queries for Larger Screens */
@media (min-width: 600px) {
  .contact-form {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .contact-form {
    padding: 25px;
  }
}
