/* Contact Form Styles */
.contact-form {
  padding: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #313131;
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(83, 83, 83);
  color: #fff;
}

.contact-container h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #656565;
}

.contact-container h3 {
  font-weight: 400;
}

.contact-container-content {
  text-align: left;
  margin-left: 2rem;
  color: #656565;
  font-weight: 300;
  margin-bottom: 120%;
}
/* Media Queries for Larger Screens */
@media (min-width: 600px) {
  .contact-form {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .contact-form {
    padding: 25px;
  }
  .contact-container-content {
    text-align: center;
    margin-left: 0;
    margin-bottom: auto;
  }
}
