/* Global Styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #e0e0e0;
  font-family: "Lato", sans-serif;
}

.container {
  flex: 1; /* This makes the container take up all available space */
  padding: 15px;
  margin: 0 auto;
  height: 100%;
}

.service-card h3,
.about-card h3,
.project-card h3,
.testimonial-card h3 {
  color: #fff;
  font-size: 1.2em;
}

.service-card p,
.about-card p,
.project-card p,
.testimonial-card p {
  color: #e0e0e0;
  font-size: 1em;
}

/* Footer Styles */
footer {
  padding: 15px;
  text-align: center;
  margin-top: auto; /* Ensure the footer is pushed to the bottom */
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

footer p {
  margin: 0;
  color: #0b132b;
  font-size: 1em;
}

/* Media Queries for Larger Screens */
@media (min-width: 600px) {
  .container {
    padding: 20px;
    max-width: 95%;
  }

  header h1 {
    font-size: 2em;
  }

  nav a {
    margin: 0 15px;
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.2em;
  }

  .service-card h3,
  .about-card h3,
  .project-card h3,
  .testimonial-card h3 {
    font-size: 1.5em;
  }

  button {
    padding: 10px 20px;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 20px;
  }

  nav a {
    font-size: 1.2em;
  }

  h2 {
    font-size: 2em;
  }

  .service-card,
  .about-card,
  .project-card,
  .testimonial-card {
    padding: 20px;
    margin: 20px 0;
  }
}
